<h2>Builder</h2>
<div class="container-fluid">
  <div class="row">
    <app-builder-controls id="builder-controls" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"
                          [box]="box"
                          (autoBuildStarted)="onAutoBuildStarted($event)"
                          (autoBuildCancelled)="onAutoBuildCancelled($event)"
                          [autoBuildProgress]="autoBuildProgress"
                          [showBrickDiscardedInfoSubject]="showBrickDiscardedInfoSubject"
                          (singleStepBuildStarted)="onSingleStepBuildStarted($event)"></app-builder-controls>

    <canvas #canvas id="preview-builder" class="col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-10"></canvas>
  </div>
  <div class="row">
    <button (click)="openFullscreen()">Fullscreen</button>
  </div>
</div>
